:root {
  --bg-color-purple: #8e44ad;
  --bg-color-blue: #0072c6;
  --bg-color-yellow: #ffee01de;
  --bg-color-red: #ee5454df;
  --bg-color-green: #78d16698;
}

.bg-purple {
  background-color: var(--bg-color-purple);
}
.bg-blue {
  background-color: var(--bg-color-blue);
}
.bg-yellow {
  background-color: var(--bg-color-yellow);
}
.bg-red {
  background-color: var(--bg-color-red);
}
.bg-green {
  background-color: var(--bg-color-green);
}

.meeting {
  width: 100%;
  display: flex;
  height: calc(100vh - var(--nav-height));
}

.meeting-area {
  flex: 56%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--nav-height));
}

.meeting-area .videos {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
  height: calc(100vh - (2 * var(--nav-height)));
  overflow-y: auto;
}

.meeting-area .videos .speaker {
  flex: 0 0 70%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100%;
  overflow: hidden;
  max-height: calc(
    (100vh - (2 * var(--spacing-4)) - (2 * var(--nav-height))) * (2 / 3)
  );
  aspect-ratio: 16/9;
}

.speaker video {
  max-height: calc(
    (100vh - (2 * var(--spacing-4)) - (2 * var(--nav-height))) * (2 / 3)
  );
}

.video-holder {
  position: relative;
  /* width: 100%; */
}

.video-holder .meta-info {
  padding: var(--spacing-2) var(--spacing-4);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: absolute;
  bottom: var(--spacing-2);
}
.video-holder .user {
  padding: var(--spacing-1) var(--spacing-2);
}
.video-holder .meta-info button {
  background: rgba(32, 28, 46, 0.698);
  backdrop-filter: blur(8.15485px);
}

.meeting-area .videos .audience {
  flex: 0 0 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%;
  gap: var(--spacing-2);
  aspect-ratio: 16/9;
  overflow: hidden;
  max-height: calc(
    (100vh - (2 * var(--spacing-4)) - (2 * var(--nav-height))) * (1 / 3)
  );
}

video {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.meeting-area .controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  justify-content: space-evenly;
  padding: var(--spacing-4);
  height: var(--nav-height);
  border-top: var(--border-outline-sm) solid var(--border-outline-color);
}

.controls button {
  background: var(--app-color-muted);
}
.controls .start,
.controls .end {
  display: flex;
  gap: var(--spacing-4);
}

.controls button:hover,
.controls button:focus {
  opacity: 1;
  background: var(--app-color-muted);
  border: var(--border-outline-sm) solid var(--border-outline-color);
}

.meeting .chat {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  border-left: var(--border-outline-sm) solid var(--border-outline-color);
}
.chat .participants {
  flex: 1;
  padding: var(--spacing-4);
  display: flex;
  flex-direction: column;
}

.participants .list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.participants .chat-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  /* max-height: calc((100vh - (2 * var(--nav-height))) / 2); */
  max-height: calc((100vh - (2 * var(--nav-height))));
  overflow-y: auto;
}

.chat-list .chat-header {
  background: var(--app-color-muted);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.input-message {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  border-top: var(--border-outline-sm) solid var(--border-outline-color);
  height: var(--nav-height);
}
.input-message .text-controls {
  display: flex;
  gap: var(--spacing-2);
}
.input-message .text-controls textarea {
  flex: 1;
  background: var(--app-color-muted);
  color: #fff;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.user-message {
  display: flex;
  gap: var(--spacing-2);
  padding: var(--spacing-4) 0;
}
.user-message .image {
  text-align: center;
  vertical-align: middle;
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  position: relative;
}
.message-list .meta {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--spacing-2);
  top: calc(-1 * var(--spacing-4));
}
.message-list .meta span {
  font-size: x-small;
}

.message {
  height: var(--spacing-8);
}

.message span {
  display: inline-block;
  height: 100%;
  background: var(--app-color-muted);
  padding: var(--spacing-1) var(--spacing-2);
}
